@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #6CB33F;
    --color-bg: #F8FAFC;
    --color-bg-soft: #111418;
    --color-bg-muted: #1F242B;
    --color-text: #1E293B;
    --color-text-muted: #64748B;
    --color-border: #E2E8F0;
    --color-text-beige: #c8c3c3;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 md:px-6;
  }
}
